.About{
    &-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8rem;
        @media (min-width: 800px){
            margin-top: 7%;
            margin-bottom: 3%;
            flex-direction: row;
        }
    }
    &-Image{
        width: 95%;
        border-radius: 0.5rem;
        @media (min-width: 800px){
            object-fit:cover;
            margin-left:10%;
            width: 30rem;
            height: 35rem;
        }
    }
    &-Header{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    &-Text{
        font-size: 1.25rem;
        margin-bottom: 3rem;
        width: 90%;
    }
    &-Wrapper{
        @media (min-width: 800px){
            width: 40rem;
            height: 40rem;
        }
    }
}