* {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

html, body{
  min-height: 100%;
}

.nav, h1{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,240,69,1) 100%);
}

header {
  display: inline-flex;
}


.nav-item {
  background-color: turquoise;
}

.home{
  text-align: center;
}

.homepage {
  position: absolute;
  top: 50%;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
}

.projects {
  padding: 10px;
}

img {
  padding: 10px;
}