@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dongle:wght@300&family=Nunito+Sans:wght@200&family=The+Nautigal&display=swap');

* {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

html, body{
  min-height: 100%;
}

.sam{
  background-image: linear-gradient( 0deg, #f00d46,  rgb(255, 238, 1));
  background-clip: text;
  color: transparent;
  font-family: 'Dancing Script', cursive;
  margin-left: 1rem;
  font-size: 8.5rem;
  
}

header {
  margin-left: 1rem;
  justify-content: space-evenly;
}

a.nav-link{
  color: white;
  font-size: 1.5rem;
  float: right;
}

nav{
  margin-top: 2.5rem;
}

.a.nav-link.active{
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, rgb(228, 226, 236) 0%, rgb(191, 152, 255) 50%, rgb(98, 0, 255) 100%);
}

a.nav-link:hover {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,240,69,1) 100%);
  border: none;
  color: white;
}

ul.navs.nav-tab {
  list-style-type: none;
  float: right;
  margin-top: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.home{
  font-size: 10rem;
  font-family: 'Nunito Sans', sans-serif;
}

.homep {
  font-size: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
}

.homepage {
  position: absolute;
  top: 40%;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
}

.card-block{
  padding: 10px;
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  border-radius: 15px;
}

.img__wrap {
  position: relative;
  font-family: 'Dongle', sans-serif;
  font-size: 2rem;
  
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(48, 55, 59, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  border-radius: 10px;

}

.h3img, .pimg, .imgLink {
 background-color: unset;
}

.h3img{
  font-size: 2.5rem;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.projects{
  margin-bottom: 3%;
}

.proh, .contactMe{
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-family: 'Nunito Sans', sans-serif;
}

.imglink{
  color: unset;
  background-color: unset;
  text-decoration: none;
  font-family: 'Dongle', sans-serif;
  font-size: 2rem;
}

.imglink:hover{
  background-color: white;
  color: black;
  font-size: 2.5rem;
}

#about{
  font-family: 'Nunito Sans', sans-serif ;
  font-size: 3rem;
}

.aboutMe{
  font-family: 'Dongle', sans-serif ;
  font-size: 2.26rem;
  
}

.imgMe{
  object-fit:cover;
  border-radius: 4%;
  margin-left:10%;
  width: 30rem;
  height: 35rem;
}

.me{
  width: 40rem;
  height: 40rem;
}

.about{
  margin-top: 7%;
  margin-bottom: 3%;
}

.contactMe, .submit, .emails, .names, .messages{
  margin-left: 10%;
  padding: 1rem;
  margin-bottom: 5%;
}

.email, .name, .message{
 display: inline-block;
 width: 600px;
}